*{
    box-sizing: border-box;
}

html{
    margin: auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form{
    text-align: center;
    width: 500px;
    height: 500px;
}

.txtbox{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
}

input[type="email"],
input[type="password"] {
    font-size: 20px;
    padding-left: 10px;
}

.option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    height: 50px;
    
}

.check-box{
    color: #4F4F4F;
    border-radius: 5px;
}

input[type=checkbox] {
    transform: scale(1.25);
}


.submit{
    border: none;
    border-radius: 6px;
    background-color: #2F80ED;

    padding: 1em 2em;

    color: white;
    font-size: 1.15em;

    width: 100%;
    margin: 0px;
}

.login-contents{
    margin-top: 20px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #2F80ED;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-weight: 700;
    font-size: 28px;
    color: #181818;
}

h3{
    text-align: left;
    color: #181818;
    font-size: 14px;
}
/* GRIFFIN CSS: */
.auto-style1 {
    text-align: left;
    color: #4F4F4F;
}

.auto-style2 {
    color: #0099FF;
    font-size: small;
}

.auto-style3 {
    font-size: small;
}

.grey {
    color: #4F4F4F;
}