<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="NestHub_db"
		 connectionString="Data Source=tcp:nesthubdbserver.database.windows.net,1433;Initial Catalog=NestHub_db;User Id=DysenterySubby@nesthubdbserver;Password=Drift212121"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
	</system.webServer>
</configuration>